<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-button><a style="color: inherit; text-decoration: inherit; font-size: 20px"
                          href="https://bankexfoundation.org">BANKEX Foundation</a></button>
    <span class="example-spacer"></span>
    <button mat-button><a style="color: inherit; text-decoration: inherit; font-size: 20px"
                          href="https://github.com/bankex/plasma-research">
      <mat-icon style="color: white; text-decoration: inherit; font-size: 17px"  aria-label="github">star</mat-icon>
      Github</a></button>
    <button mat-button><a style="color: inherit; text-decoration: inherit; font-size: 20px"
                          href="https://ethresear.ch/t/short-s-nt-ark-exclusion-proofs-for-plasma/4438">
      <mat-icon style="color: white; text-decoration: inherit; font-size: 17px"  aria-label="github">favorite</mat-icon>
      Ethresearch</a></button>
  </mat-toolbar-row>
</mat-toolbar>
